<hierarchical-selector  load-child-items="wizServ.loadOptionData(question, parent)"
                        multi-select="true"
                        select-only-leafs="true"
                        on-selection-changed="question.answer = wizServ.multiOptionSelected(items)">
</hierarchical-selector>
<!--  We need a hidden input type here to track the return of the heirarchical selector
      as this third party directive doesn't support ng-required -->
<input  type="hidden"
name="q_{{question.pk_qid}}"
ng-model="question.answer"
ng-required="question.flg_mandatory == 1"
required-err-type="wizardMultiSelect"
disable-valid-styling="true" />
