<angucomplete-alt id="ex2"
                  placeholder="Search For Customer"
                  pause="300"
                  selected-object="selectedCust"
                  local-search="localSearch"
                  title-field="firstName,surname"
                  minlength="3"
                  input-class="form-control"
                  match-class="highlight"
                  ng-model="question.answer"
                  required-err-type="wizardText"
                  ng-required="question.flg_mandatory == 1"
                  disable-valid-styling="true"
                  name="q_{{question.pk_qid}}"
/>
